fichero {
  display: block;
  background-color: #eaeaea;
  padding: 10px;
}

ficha {
  display: block;
  border: 1px solid black;
  margin: 5px 0;
  padding: 5px;
  background-color: #fff;
}

nombre {
  display: block;
  font-weight: bold;
  color: blue;
}

apellido {
  display: block;
  color: green;
}

direccion {
  display: block;
  color: brown;
}

correo {
  display: block;
  color: purple;
}

website {
  display: block;
  color: teal;
  text-decoration: underline;
}
